@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');
@import "tailwindcss";


.font-serif {
  font-family: 'Playfair Display', serif;
}

.bg-navy {
  background-color: #0e2c57;
}

.text-navy {
  color: #1a365d;
}

.bg-svg-pattern {
  background-image: url("/3.svg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed; /* optional parallax effect */
  background-position: top center;
  z-index: 0;
}

.border-gold {
  border-color: #facb21;
}

.text-gold {
  color: #facb21;
}

.bg-gold {
  background-color: #facb21;
}

/* Hover / Focus States */
.hover\:bg-gold:hover {
  background-color: #facb21;
}

.hover\:bg-navy:hover {
  background-color: #0e2c57;
}


.hover\:text-navy:hover {
  color: #1a365d;
}

.hover\:text-gold:hover {
  color: #facb21;
}

.hover\:bg-gold\/10:hover {
  background-color: rgba(248, 200, 34, 0.1);
}

.focus\:ring-gold:focus {
  box-shadow: 0 0 0 3px rgba(248, 200, 34, 0.5);
}

.focus\:border-gold:focus {
  border-color: #facb21;
}